
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --primary-color: #1E90FF; /* Dodger Blue */
    --secondary-color: #87CEFA; /* Light Sky Blue */
    --dark-color: #0D1B2A; /* Dark Navy */
    --light-color: #FFFFFF; /* White */
    --background-color: #E6F0FA; /* Light Blue Background */
}


body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Arial', sans-serif;
    height: 100%;
    background-color: #0092C0;
}

header {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('HeaderBground.gif');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    overflow: hidden;
}

.header-content {
    z-index: 1001;
    padding: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.header-title {
    font-size: 3rem;
    margin: 0;
}

.header-subtitle {
    font-size: 1.5rem;
    margin: 20px 0;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #142B48;
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #e66767;
}

.scroll-indicator {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #fff;
    cursor: pointer;
    z-index: 1001;
}

.scroll-text {
    font-size: 1.2rem;
    margin-bottom: 5px;
    animation: fadeIn 1.5s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateX(-50%) translateY(0) rotate(45deg);
    }
    40% {
        transform: translateX(-50%) translateY(-10px) rotate(45deg);
    }
    60% {
        transform: translateX(-50%) translateY(-5px) rotate(45deg);
    }
}

@keyframes fadeIn {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    position: relative;
    height: 100vh;
    background: url('your-background-image.jpg') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    padding: 0 20px;
    overflow: hidden;
}

.cat-image {
    position: absolute;
    bottom: -100px;
    left: 90%;
    transform: translateX(-50%);
    width: auto;
    height: 250px;
    z-index: 2;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
    max-width: 800px;
    animation: fadeInUp 1.5s ease-out;
}

.hero-title {
    font-size: 3em;
    margin-bottom: 0.5rem;
    letter-spacing: 1px;
}

.hero-title span {
    color: #f9a825;
}

.hero-subtitle {
    font-size: 1.5em;
    margin-bottom: 1.5rem;
    font-weight: 300;
    color: #c2d5c4;
}

.hero-subtitle span {
    font-weight: bold;
    color: #f9a825;
}

.hero-btn {
    background: #f9a825;
    color: #fff;
    padding: 15px 30px;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 30px;
    transition: background 0.3s, transform 0.3s;
    text-decoration: none;
    font-size: 1.1em;
}

.hero-btn:hover {
    background: #333;
    transform: translateY(-3px);
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.btn {
    background: #43554e;
    color: #c2d5c4;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    transition: background 0.3s;
}

.btn:hover {
    background: #333;
}

.background-wrapper {
    width: 100vw;
    overflow-x: hidden;
    background: #3a403b;
    padding: 60px 0;
}

.projects {
    padding: 40px 20px;
    max-width: 1700px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    background: #FFFFFF;  /* Dark background for the entire section */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);  /* Subtle shadow for depth */
}

.projects h2 {
    color: #f9a825;
    margin-bottom: 40px;
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.project-card {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
}

.project-image-container {
    width: 100%;
    overflow: hidden;
    height: 180px;  /* Fixed height for consistent layout */
}

.project-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.project-card:hover .project-image {
    transform: scale(1.1);  /* Zoom effect on hover */
}

.project-content {
    padding: 20px;
    text-align: left;
}

.project-content h3 {
    color: #f9a825;
    margin-bottom: 10px;
    font-size: 1.8rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.project-content p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 20px;
    color: black;
}

.project-btn {
    background: #3AAED3;
    color: #fff;
    padding: 10px 20px;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    transition: background 0.3s;
    border-radius: 30px;
}

.project-btn:hover {
    background: #333;
}


#about {
    margin-top: 80px;
}

.about {
    padding: 80px 20px;
    max-width: 1700px;
    margin: 80px auto;
    background: linear-gradient(135deg, #0A1B35, #152C4C); /* Gradient Background */
    border-image: url('border.jpg') 30 stretch;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
    position: relative;
}

.about-container {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center; /* Center content */
}

.about-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 2s ease-in-out; /* Animation effect */
}

.profile-image {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
}

.profile-image:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.about-content {
    flex: 2;
    text-align: left;
    color: #c2d5c4;
    animation: fadeInRight 1.5s ease-in-out;
}

.about-title {
    margin-bottom: 10px;
    color: #f9a825;
    font-size: 2.5rem; /* Larger title */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.about-subtitle {
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: #f9a825;
}

.about-text {
    font-size: 1.2rem;
    line-height: 1.8;
    color: #fff;
    margin-bottom: 20px;
}

.read-more-btn {
    background: #f9a825;
    color: #fff;
    padding: 12px 25px;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 25px;
    text-decoration: none;
    transition: background 0.3s, transform 0.3s;
}

.read-more-btn:hover {
    background: #333;
    transform: translateY(-5px);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.profile-image:hover {
    transform: scale(1.05);
}


.skills {
    padding: 40px 20px; /* Reduced padding for height adjustment */
    max-width: 1700px;
    margin: 40px auto; /* Added top and bottom margin */
    text-align: center;
    background: rgba(0, 0, 0, 0.5);  /* Dark background */
    color: #fff;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.skills h2 {
    color: #f9a825;
    margin-bottom: 40px;
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.skill-card {
    background: #fff;
    padding: 20px;
    border-radius: 8px; /* Smaller radius to make it more rectangular */
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.skill-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
}

.skill-icon {
    font-size: 4rem;
    color: #3AAED3;
    margin-bottom: 20px;
}

.skill-bar {
    width: 100%;
    background-color: #ddd;
    border-radius: 5px; /* Smaller radius for progress bar */
    overflow: hidden;
    margin: 10px 0;
    height: 20px;
}

.skill-level {
    height: 100%;
    border-radius: 5px; /* Smaller radius for progress bar */
    background-color: #3AAED3;
    width: 0;
    transition: width 2s ease;
}

.skill-level.html {
    width: 90%;
}

.skill-level.css {
    width: 85%;
}

.skill-level.js {
    width: 75%;
}

.skill-level.android {
    width: 70%;
}

.skill-level.system-dev {
    width: 80%;
}

.skill-card h3 {
    margin-bottom: 15px;
    font-size: 1.5rem;
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}



.skill-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}

.project-card {
    background: #FFFFFF;
    padding: 20px;
    margin: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.project-card h3 {
    margin-bottom: 10px;
}

#contact {
    padding: 60px 20px; /* Added padding for better spacing */
    text-align: center;
    background-color: #f4f4f4; /* Light background color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
}

#contact h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
    color: #333; /* Dark color for better contrast */
    font-weight: 700; /* Bold heading */
}

form {
    display: flex;
    flex-direction: column;
    max-width: 700px; /* Increased width for larger screens */
    margin: 0 auto;
    background-color: #fff; /* White background for the form */
    padding: 40px;
    border-radius: 12px; /* More rounded corners */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* Enhanced shadow effect */
}

label {
    font-size: 1.1em; /* Slightly larger font size */
    margin-bottom: 8px;
    text-align: left;
    color: #333; /* Dark color for labels */
}

input, textarea {
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px; /* Slightly larger border-radius */
    width: 100%;
    box-sizing: border-box;
    font-size: 1em; /* Consistent font size */
}

input:focus, textarea:focus {
    border-color: #1E90FF; /* Highlight border on focus */
    outline: none;
}

button {
    background: linear-gradient(45deg, #1E90FF, #00BFFF); /* Gradient background */
    color: #fff;
    padding: 12px 25px;
    font-size: 1.2em;
    border: none;
    border-radius: 30px; /* Large border-radius for a rounded button */
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
}

button:hover {
    background: linear-gradient(45deg, #00BFFF, #1E90FF); /* Reverse gradient on hover */
    transform: scale(1.05); /* Slight scale effect on hover */
}


.social-media {
    margin-top: 20px;
}

.social-media a {
    color: white;
    margin: 0 15px;
    font-size: 2rem;
    transition: color 0.3s ease;
}

.social-media a:hover {
    color: #87CEFA; /* Secondary color hover effect */
}

  

footer {
    text-align: center;
    padding: 20px 0;
    background: #333;
    color: #fff;
    margin-top: 40px;
}

.social-media {
    margin-top: 10px;
}

.social-media a {
    color: #fff;
    margin: 0 10px;
    font-size: 1.5rem;
    transition: color 0.3s;
}

.social-media a:hover {
    color: #152C4C;
}

.project-btn {
    background: #3AAED3;
    color: #fff;
    padding: 10px 20px;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    transition: background 0.3s;
}

.project-btn:hover {
    background: #333;
}